@{
    ViewData["Title"] = "Contacts";
}

    <div class="text-center">
        <h1 class="display-4">Шиномонтаж Колесо</h1>
        <p>Адрес: Николая Островского 154</p>
        <p>тел.: 2-77-77-77</p>
    </div>
