@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <title>Создание записи</title>
</head>
<body>
    <div>
        <h3>Форма добавления записи на шиномонтаж</h3>
        <p>Заполните следующие поля:</p>
        <form method="post">
            <table>
                <tr>
                    <td>Описание:</td>
                    <td><input type="text" name="Comment" /> </td>
                </tr>
                <tr>
                    <td>Дата записи:</td>
                    <td><input type="date" name="DateCompletion" /></td>
                </tr>
                <tr><td><input type="submit" value="Добавить" /> </td><td></td></tr>
            </table>
        </form>
    </div>
</body>
</html>