@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <title>Создание учетной записи</title>
</head>
<body>
    <div>
        <h3>Форма добавления учетной записи</h3>
        <p>Заполните следующие поля:</p>
        <form method="post">
            <table>
                <tr>
                    <td>Логин:</td>
                    <td><input type="text" name="Name" /> </td>
                </tr>
                <tr>
                    <td>Пароль:</td>
                    <td><input type="password" name="Password" /></td>
                </tr>
                <tr>
                    <td>Телефон:</td>
                    <td><input type="tel" name="Phone" /></td>
                </tr>
                <tr><td><input type="submit" value="Добавить" /> </td><td></td></tr>
            </table>
        </form>
    </div>
</body>
</html>