@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <title>Вход в личный кабинет</title>
</head>
<body>
    <div>
        <h3>Форма ввода логина/пароля</h3>
        <p>Заполните следующие поля:</p>

        <form method="post" class="form-group">
            <table>
                <tr>
                    <td>Имя:</td>
                    <td><input type="text" name="Name" /> </td>
                    <td>Пароль:</td>
                    <td><input type="password" name="Password" /> </td>
                </tr>
                <tr><td><input type="submit"  class="btn btn-primary" value="Ввести" /> </td><td></td></tr>
            </table>
        </form>
        
    </div>

</body>
</html>